<section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

					<h2>New Ad</h2>

					<%= render 'form', ad: @ad %>

					<%= link_to 'Back', ads_path %>

				</div>
			</div>
		</div>
</section>
