<section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
					<h2>Editing User</h2>

					<%= render 'form', user: @user %>

					<%= link_to 'Show', @user %> |
					<%= link_to 'Back', users_path %>

				</div>
			</div>
		</div>
</section>
